.first {
    color: white;
}

.second {
    color: white;
    margin-top: 20px;

    p {
        font-size: 1em;
        font-weight: 500;
    }

    ul {
        margin-top: 1em;
        font-weight: 500;
    }
}

.blurredBackground {
    margin: 100px 90px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 80vw;
    padding: 0 20px 10px;
    border-radius: 15px;
}

.parallax {
    height: 100vh;
    position: relative;
    overflow: hidden;

    &>div {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: transform 0.2s ease;
        width: 110%;
        height: 110%;
        z-index: 10;

        &:nth-child(2) {
            z-index: 11;
        }
    }

    & .parallaxBg {
        background-image: url("/src/assets/parallaxBg.png");
    }

    & .parallaxOrange {
        background-image: url("/src/assets/parallaxOrange.png");
    }

    & .parallaxRed {
        background-image: url("/src/assets/parallaxRed.png");
    }
}