
:root {
    --clr-main1: #f2f0ff;
    --clr-main2: ##e0dff2;
    --clr-main3: #bfbdde;
    --clr-main4: #9b98ca;
    --clr-main5: #7d79ba;
    --clr-main6: #6a65b0;
    --clr-main7: #605bac;
    --clr-main8: #504c97;
    --clr-main9: #464388;
    --clr-main10: #3b3979;
}