.page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    z-index: 9999;
}

.chatdialog {
    &__is-fullscreen {
        width: 95vw;
        height: 95vh;
        max-width: 95vw;
    }

    &__is-defaultscreen {
        width: 25vw;
        height: 60vh;
        max-width: 25vw;
    }
}

.root {
    box-shadow: 0px 0px 200px black;
    padding: 0 !important;
    border-radius: 10px;
}